.site-header{	
	padding-top: 30px;
	padding-bottom: 30px;

	@include bp( iphone ){
    	text-align: center;
    }
}

.site-branding{
    float: left;

    @include bp( iphone ){
    	float: none;
    }
}

.searchform{
    float: right;
    margin-top: 18px;

    @include bp( iphone ){
        float: none;
    }   
}